.team-member img.img-responsive {
 max-width: 110px;
}
.team-member i.fa {
 font-size: 110px;
}

@media(max-width: 991px) {
  ul.events {
    padding-left: 0;
  }
  figure img {
    max-width: 100%;
  }
  .btn {
    white-space: initial;
  }
}

.navbar-default .navbar-brand {
	font-family: 'Comfortaa', cursive;
	font-size:2em;
}

#prereqs p{
	font-size:1.5em;
	font-family: 'Comfortaa', cursive;
}


#contact h3.section-subheading{
	color:#ddd;
}


/*============
Events style
============*/

.event-date{
	margin-top:24px;
}
.event-date > ul{
	list-style: none;
	line-height: 1;
	text-align: center;
}
.event-date > ul > li:first-child,
.event-date > ul > li:nth-child(3) {
	font-size: 1.4em;
}
.event-date > ul > li:nth-child(2) {
	font-size:3em;
}
.event-date > ul > li:nth-child(4){
	padding-top: 1em;
	font-size:1.1em;
}
.event-date > ul > li:nth-child(5){
	padding-top: 0.5em;
	font-size:1.1em;
}



/*=====================
  Gitter chat - Sidecar
  =====================*/
.gitter-chat-embed{
    z-index: 1035;
}
